#JAVA_HOME=$JDK17_HOME
#MAVEN_HOME=$MVN_HOME
export JAVA_HOME=$JDK11_HOME
export MAVEN_HOME=$MVN_HOME
export GOPATH="$PWD"
export PATH=$GOPATH/bin:$PATH
export  PATH=$PATH:$JAVA_HOME/bin
export 	PATH=$MAVEN_HOME/bin:$PATH
